<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: headFragment('User list')"></head>
<body>
<header th:insert="fragments/fragments :: header"></header>

<div class="container mt-5">
  <h1>List of users</h1>
  <div th:each="element : ${users}" class="alert alert-info mt-2">
    <h3 th:text="${element.username}"/>
    <p th:text="${element.roles}"/>

    <a th:href="'/user/' + ${element.id}" class="btn btn-warning">Taisyti</a>
  </div>
</div>

<div th:insert="fragments/fragments :: footer"></div>
</body>
</html>