<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_fragments :: head('User edit')"></head>
<body>
<header th:insert="fragments/main_fragments :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Vartotojo koregavimas</h1>
    <div>
        <form action="/userlist" method="post">
            <input type="hidden" class="form-control" th:value="${_csrf.token}" name="_csrf"><br>
            <input type="hidden" class="form-control" th:value="${user.id}" name="userId"><br>
            <input type="text" class="form-control" th:value="${user.username}" name="username"><br>
            <div th:each="role : ${roles}" class="form-check">
                <label><input type="checkbox" th:checked="${#lists.contains(user.roles, role)}"
                              th:name="${role}" th:text="${role}"></label>
            </div><br>
            <button type="submit" class="btn btn-success">Issaugoti</button>
        </form>
    </div>
</div>

<div th:insert="fragments/main_fragments :: footer"></div>
</body>
</html>