<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_fragments :: head('User edit')"></head>
<body>
<header th:insert="fragments/main_fragments :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Vartotojo koregavimas</h1>
    <div>
        <form action="/user" method="post">
            <input type="hidden" th:value="${_csrf.token}" name="_csrf" class="form-control"><br>
            <input type="text" th:value="${user.id}" name="userId" class="form-control"><br>
            <input type="text" th:value="${user.name}" name="name" placeholder="${name}"
                   class="form-control"><br>
            <div th:each="element : ${user.roles}" class="alert alert-info mt-2">
                <input type="text" th:value="${element.role}" name="role" placeholder="${role}"
                       class="form-control"><br>
            </div>
            <button type="submit" class="btn btn-success">Issaugoti</button>
        </form>
    </div>
</div>

<div th:insert="fragments/main_fragments :: footer"></div>
</body>
</html>