<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Footer fragment -->
<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="mb-1">[[#{footer.text}]]</p>
            <p class="mb-0">[[#{footer.text.read}]]
                <a href="https://getbootstrap.com/docs/3.3/getting-started/">[[#{footer.href.guide}]]</a>.</p>
        </div>
    </footer>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</div>
</html>