<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:replace="fragments/head_frag :: head('Blog')"></head>
<body>
<header th:insert="fragments/header_frag :: header"></header>

<div class="container mt-5">
<h1>Puslapio blogas</h1>
    <div th:each="element : ${blogsPage}" class="alert alert-info mt-2">
        <h3 th:text="${element.title}"/>
        <p th:text="${element.authorName}"/>
        <a th:href="'/blog/' + ${element.id}" class="btn btn-warning">Issamiau</a>
    </div>
</div>

<nav aria-label="Page navigation" class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item" th:classappend="${!blogsPage.hasPrevious()} ? disabled">
            <a class="page-link"
               th:href="@{/blog?page={pn}&size={size}(pn=${blogsPage.number-1}, size=${blogsPage.size})}"
               >[[#{pagenation.previous}]]</a>
        </li>
        <th:block th:each="pageNumber : ${#numbers.sequence(0, blogsPage.totalPages - 1)}">
        <li class="page-item" th:classappend="${blogsPage.number == pageNumber} ? active">
            <a class="page-link" th:href="@{/blog?page={pn}&size={size}(pn=${pageNumber}, size=${blogsPage.size})}"
               th:text="${pageNumber + 1}"></a>
        </li>
        </th:block>

        <li class="page-item" th:classappend="${!blogsPage.hasNext()} ? disabled">
            <a class="page-link"
               th:href="@{/blog?page={pn}&size={size}(pn=${blogsPage.number+1}, size=${blogsPage.size})}"
               >[[#{pagenation.next}]]</a>
        </li>
    </ul>
</nav>
<div th:insert="fragments/footer_frag :: footer"></div>
</body>
</html>