<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:replace="fragments/main_fragments :: head('Edit blog')"></head>

<body>
<header th:insert="fragments/main_fragments :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Straipsnio koregavimas</h1>
    <div th:each="element : ${blog}">
        <form th:method="post">
            <input type="hidden" class="form-control" name="_csrf" th:value="${_csrf.token}"><br>
            <input type="text" class="form-control" name="title" placeholder="Iveskite straipsnio pavadinima" th:value="${element.title}"><br>
            <textarea class="form-control" name="full_text" placeholder="Iveskite straipsnio teksta" th:text="${element.full_text}"/><br>
            <button type="submit" class="btn btn-success">Atnaujinti</button>
        </form>
    </div>
</div>

<div th:insert="fragments/main_fragments :: footer"></div>
</body>
</html>