<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_fragments :: head('Blog details')"></head>

<body>
<header th:insert="fragments/main_fragments :: header"></header>

<div class="container mt-5">
    <div th:each="element : ${blog}" class="alert alert-info mt-2">
        <h3 th:text="${element.title}"/>
        <p th:text="${element.full_text}"/>
        <p><b>Perziuros:</b> <span th:text="${element.views}"/></p>
        <p>
            <a th:href="'/blog/' + ${element.id} +'/edit'" class="btn btn-warning">Taisyti</a>
        <form th:action="'/blog/' + ${element.id} +'/remove'" metod="post">
            <button class="btn btn-warning" type="submit">Istrinti</button>
        </form>
        </p>
    </div>
</div>

<div th:insert="fragments/main_fragments :: footer"></div>
</body>
</html>