<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:replace="fragments/frag-head :: head('Blog')"></head>

<body>
<header th:insert="fragments/frag-header :: header"></header>
<section th:insert="fragments/frag-wrapper :: wrapper('Our Blog')"></section>

<section class="blogs-section bg-light">
    <div class="container">
        <div class="row">

            <!--Blogs list-->
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 " th:each="blog : ${blogsPage}">
                            <div class="blog-entry mb-4" >
                                <a href="blog-single.html" class="block-20 d-flex align-items-end">
                                    <img th:src="@{/images/blogs/ximage_6.jpg}"/>
                                    <div class="meta-date text-center p-2">
                                        <span class="day">27</span>
                                        <span class="mos">January</span>
                                        <span class="yr">2019</span>
                                    </div>
                                </a>
                                <div class="text bg-white p-4">
                                    <h3 class="heading"><a href="#" th:text="${blog.title}"></a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                        Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center mt-4">
                                        <p class="mb-0"><a th:href="'/blog/' + ${blog.id}" class="btn btn-secondary">[[#{button.readmore}]]<span
                                                    class="ion-ios-arrow-round-forward"></span></a></p>
                                        <p class="ml-auto mb-0">
                                            <a href="#" class="mr-2" th:text="${blog.authorName}"></a>
                                            <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                <nav aria-label="Page navigation" class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${!blogsPage.hasPrevious()} ? disabled">
                            <a class="page-link"
                               th:href="@{/blog?page={pn}&size={size}(pn=${blogsPage.number-1}, size=${blogsPage.size})}"
                            >[[#{pagenation.previous}]]</a>
                        </li>
                        <th:block th:each="pageNumber : ${#numbers.sequence(0, blogsPage.totalPages - 1)}">
                            <li class="page-item" th:classappend="${blogsPage.number == pageNumber} ? active">
                                <a class="page-link"
                                   th:href="@{/blog?page={pn}&size={size}(pn=${pageNumber}, size=${blogsPage.size})}"
                                   th:text="${pageNumber + 1}"></a>
                            </li>
                        </th:block>

                        <li class="page-item" th:classappend="${!blogsPage.hasNext()} ? disabled">
                            <a class="page-link"
                               th:href="@{/blog?page={pn}&size={size}(pn=${blogsPage.number+1}, size=${blogsPage.size})}"
                            >[[#{pagenation.next}]]</a>
                        </li>
                    </ul>
                </nav>
                </div>
            <!--Sidebar-->
            <div class="col-sm-4">
                <div class="col sidebar-widgets">
                    <div class="widget-wrap">

                        <!--Search-->
                        <div class="single-sidebar-widget search-widget">
                            <form class="search-form" action="#">
                                <input placeholder="Search Posts" name="search" type="text"
                                       onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Search Posts'">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <!--Blogs writer-->
                        <div class="single-sidebar-widget user-info-widget">
                            <img th:src="@{/images/admin_2.jpg}" alt="admin">
                            <a href="#"><h4>Dr. Austėja Landsbergienė</h4></a>
                            <p>
                                Senior blog writer
                            </p>
                            <p>
                                Boot camps have its supporters andit sdetractors. Some people do not understand
                                why you should have to spend money on boot camp when you can get. Boot camps have
                                itssuppor ters andits detractors.
                            </p>
                        </div>

                        <!--Popular Posts-->
                        <div class="single-sidebar-widget popular-post-widget">
                            <h4 class="blogs-sidebar-title">Popular Posts</h4>
                            <div class="popular-post-list">

                                <div class="single-post-list d-flex flex-row align-items-center">
                                    <div class="thumb">
                                        <img class="img-fluid"
                                             th:src="@{/images/blogs/sidebar_1.jpg}">
                                    </div>
                                    <div class="details">
                                        <a href="blog-single.html">
                                            <h6 class="mb-2">Space The Final Frontier</h6></a>
                                        <p class="mb-0">02 Hours ago</p>
                                    </div>
                                </div>

                                <div class="single-post-list d-flex flex-row align-items-center">
                                    <div class="thumb">
                                        <img class="img-fluid"
                                             th:src="@{/images/blogs/sidebar_2.jpg}">
                                    </div>
                                    <div class="details">
                                        <a href="blog-single.html">
                                            <h6 class="mb-2">The Amazing Hubble</h6></a>
                                        <p class="mb-0">02 Hours ago</p>
                                    </div>
                                </div>

                                <div class="single-post-list d-flex flex-row align-items-center">
                                    <div class="thumb">
                                        <img class="img-fluid"
                                             th:src="@{/images/blogs/sidebar_3.jpg}">
                                    </div>
                                    <div class="details">
                                        <a href="blog-single.html">
                                            <h6 class="mb-2">Astronomy Or Astrology</h6></a>
                                        <p class="mb-0">02 Hours ago</p>
                                    </div>
                                </div>

                                <div class="single-post-list d-flex flex-row align-items-center">
                                    <div class="thumb">
                                        <img class="img-fluid"
                                             th:src="@{/images/blogs/sidebar_4.jpg}">
                                    </div>
                                    <div class="details">
                                        <a href="blog-single.html">
                                            <h6 class="mb-2">Asteroids telescope</h6></a>
                                        <p class="mb-0">02 Hours ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Post categories-->
                        <div class="single-sidebar-widget post-category-widget">
                            <h4 class="blogs-sidebar-title">Post Catgories</h4>
                            <ul class="category-list">
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Technology</p>
                                        <p>37</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Lifestyle</p>
                                        <p>24</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Fashion</p>
                                        <p>59</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Art</p>
                                        <p>29</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Food</p>
                                        <p>15</p>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!--Newsletter-->
                        <div class="single-sidebar-widget newsletter-widget">
                            <h4 class="blogs-sidebar-title">Newsletter</h4>
                            <p>
                                Here, I focus on a range of items and features that we use in life without
                                giving them a second thought.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="col-autos">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-envelope"
                                                                             aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroup"
                                               placeholder="Enter email" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Enter email'">
                                    </div>
                                </div>
                                <a href="#" class="bbtns">Subcribe</a>
                            </div>
                            <p class="text-bottom">
                                You can unsubscribe at any time
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<div th:insert="fragments/frag-footer :: footer"></div>
</body>
</html>